
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">
         <a>
          Iury Goulart
        </a>
      </p>
      <p>
        <a>
          I have a bachelor's degree in Medical Physics from Universidade Estadual Paulista - UNESP.
          <br>
            I've always liked technology, but when I was at university I developed a passion for coding, so I went into data science.
          </br>
        </a>
      </p>
    </div>
</div>
{% endblock %}

